<div class="col s6   m3 offset-m2 l6 offset-l3">
    <div class="row valign-wrapper">
      <div class="card-content valign center-block">
      <div class="col s12">
        <span class="black-text">
          <p> Website in development by ExRafiki</p>
        </span>
      </div>
    </div>
  </div>
</div>
