<div class="col s6   m3 offset-m2 l6 offset-l3">
    <div class="row valign-wrapper amber darken-6">
      <div class="card-content valign center-block">
      <div class="col s12">
        <p class="black-text">
          <p> Website in development by Filippos Antoniadis</p>
          <a href="https://github.com/ExRafiki"><img src="/github.png" alt="GitHubLogo">
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
