<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script type="text/javascript" src="/scripts/magic.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>Just Shows</title>
</head>
<body>
  <header>
    <% include ./partials/_navbar.ejs %>
  </header>
  <main>
    <div class="container">
    <%- body -%>
  </main>
  <footer>
    <% include ./partials/_footer %>
  </footer>
</body>
</html>

<!--Fix the footer aswell as the HTML identation on all files , bonus : fix the ugly tabs for shows  -->
