#Logo {
  font-family: 'Gloria Hallelujah';
  font-size: 50px;
  padding-left: 40px;
}
#home {
  margin-top: 70px;
}
main{
  padding-top: 20px;
  background-image: url(https://wallpapercave.com/wp/Ohj5NR2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  height: 80px;
}
ul a {
  height: 80px;
}
li {
  height:  80px;
  font-size: 30px;
}
.card-stacked {
  overflow: scroll;
  height: 400px;
}
#content1 {
  background: orange;
  border-radius: 15px;
}
hr {
  height: 0px;
  border: 1px solid;
  border-color: white;
}
.card {
  border-radius: 15px;
  border: 2px solid white;
}
.card-image {
  border-radius: 15px;
}
.card .card-image img {
  border-radius: 0 15px 15px 0 !important;
  border-left:2px solid white;
}
span {
  padding-top: 140px;
}
.input-field>label {
  color: white;
  
}
.card-panel {
  border-radius: 20px;
}
input {
  color: white;
}
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }
 main {
   flex: 1 0 auto;
 }
footer  {
  background-color: orange;
}
.tabs {
  border-radius: 15px;
}
