#Logo {
  font-family: 'Gloria Hallelujah';
  font-size: 50px;
  padding-left: 40px;
}

main{
  padding-top: 30px;
}

nav {
  height: 80px;

}
ul a {
  height: 80px;
}

li {
  height:  80px;
  font-size: 30px;
}

.card-stacked {
  overflow: scroll;
  height: 400px;
}

#content1 {
  background: orange;
}

hr {
  height: 0px;
  border: 0.3px solid;
  border-color: white;
}

.card {
  border-radius: 15px;
}

.card-image {
  border-radius: 15px;
}

.card .card-image img {
  border-radius: 0 15px 15px 0 !important;
}
