<%# //----------ERROR BANNER------------------------------------------------- %>
<div class"row">
<% if(messages.danger){ %>
    <div class="col s12 l12">
      <div class="card red lighten-3">
        <div class="card-content red-text">
          <p class="card-title"><%= messages.danger %></p>
        </div>
      </div>
    </div>
  <% } %>
<%# //------------NEW SHOW--------------------------------------------------- %>
<h2 class="white-text center-align" id="Logo">+ New Show</h2>
<form class="col l12" action="/tvshows" method="post">
  <div class="input-field col l12">
    <input type="text" name="name" id="name_field">
    <label for="name_field">Name</label>
</form>
  <div class="input-field col l12">
    <input type="number" name="year" id="year_field" required>
    <label for="year_field">Year</label>
  </div>
  <div class="input-field col l12">
    <input type="number" name="season" id="season_field" >
    <label for="year_field">Seasons</label>
  </div>
  <div class="input-field col l12">
    <input type="text" name="popularity" id="popularity_field" >
    <label for="year_field">Popularity</label>
  </div>
  <div class="input-field col l12">
    <input type="text" name="image" id="image_field">
    <label for="image_field">IMG URL</label>
  </div>
  <div class="input-field col l12">
    <button class="green btn">Post new TV Show</button>
  </div>
</form>
</div>
