<% User.forEach(user =>{ %>
  <div class="col s12 m6">
    <div class="card  amber darken-2">
      <div class="card-content white-text">
        <span class="card-title">  <%= User.id %></span>
      </div>
      <div class="card-action">
        <a href="/tobeset %>" class="white-text">Change</a>
      </div>
    </div>
  </div>
<% }) %>
  </div>
