<h2>Your details</h2>

<h3>Username</h3>
<p><%= user.username %></p>

<h3>Email</h3>
<p><%= user.email %></p>

<h4>Shows</h4>
<%= shows %>

<%#  putting favorites in here ?%>
<%#  no idea how to do it , for each with a display of hte users? but isnt my user fav doing that? %>
